body
{
    margin: 0px 0px;
    padding: 0px;
    background-color: #EFF2FB;
    font-family: Helvetica, arial, sans-serif;
    font-size: 13px;
}

#content
{
    width: 700px;
    margin: 40px auto;
    padding: 15px;
}

#error_message
{
    color: #FE2E2E;
}

#header
{
    width: 100%;
    top: 0px;
    position: fixed;
    background-color:#2E9AFE;
    height: 35px;
    border-bottom: 3px solid #2E64FE;
}
.header-left
{
    float: left;
    width: 50%;
}

#menu-right
{
    margin-right: 50%;
    
}

#menu-right
{
    margin-left: 50%;
}

#menu
{
    display: block;
    float: left !important;
}
