<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/qanda/static/bootstrap/assets/ico/favicon.png">

    <title>{% block title %}{% endblock %}</title>

    <link href="/qanda/static/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/qanda/index.php">Нүүр хуудас</a></li>
            <li>
                <a href="{{ path("question_add") }}">Асуулт оруулах</a>
            </li>
            {% if app.session.get("id") %}
                <li><a href="/qanda/index.php/profile?user_id={{ app.session.get("id") }}">{{ app.session.get("name") }}</a></li>
                <li><a href="logout">Гарах</a></li>
            {% else %}
                <li><a href="login">Нэвтрэх</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
        {# TODO
        <?php if (has_get('message')) {?>
            <div class="alert alert-success"><?php echo get_param('message'); ?></div>
        <?php } ?>
        #}
        {% block body %}{% endblock %}
      </div>
    </div>

    <script src="/qanda/static/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
