{% extends 'QandaHomeBundle::layout.html.twig' %}

{% block body %}
     <h4> <a href="profile_edit">Хувийн мэдээлэл засах</a></h4>


<table width="100%">
    <tr>
        <td width="50%"><b>Нэр :</b></td>
        <td>{{ user.nickname }}</td>
    </tr>
    <tr>
        <td width="50%"><b>Тодорхойлолт:</b></td>
        <td>{{ user.description }}</td>
    </tr>
    <tr>
        <td width="50%"><b>Нийт хариултын тоо:</b></td>
        <td></td>
    </tr>
    <tr>
        <td width="50%"><b>Нийт асуултын тоо:</b></td>
        <td></td>
    </tr>
</table>
{#
<table border="0" width="100%">
  <tr>
    <td><b>Сүүлийн 5 хариулт: </b></td>
  </tr>
  <tr>
    <?php foreach ($answers as $answer) { ?>
      <td colspan="2" >
        <a href = "/qanda/index.php/show?question_id=<?php echo
$answer->getQuestionId();?>">
        <?php echo nl2br($answer->getAnswer()) ?> </a>
      </td>
  </tr>
    <?php } ?>
<br>
<br>
  <tr>
    <td>
        <br><b>Сүүлийн 5 асуулт: </b><br>
    </td>
  </tr>
    <?php foreach ($questions as $question){ ?>
    <td colspan="2">
        <a href="/qanda/index.php/show?question_id=<?php echo $question->getId(); ?>">
            <?php echo $question->getTitle() ?></a>
    </td>
   </tr>
    <?php } ?>
</table>
<?php $content = ob_get_clean() ?>
#}
{% endblock %}
